<div  ng-repeat="card in hand.cards" class="card col-md-1 {{card.suit | lowercase}}" ng-class="{'isHiddenCard': !card.isVisible }">

                <div class="rank"  ng-switch on="card.rank">
                            <span data-ng-switch-when="DEUCE">2</span>
                            <span data-ng-switch-when="THREE">3</span>
                            <span data-ng-switch-when="FOUR">4</span>
                            <span data-ng-switch-when="FIVE">5</span>
                            <span data-ng-switch-when="SIX">6</span>
                            <span data-ng-switch-when="SEVEN">7</span>
                            <span data-ng-switch-when="EIGHT">8</span>
                            <span data-ng-switch-when="NINE">9</span>
                            <span data-ng-switch-when="TEN">10</span>
                            <span data-ng-switch-when="JACK">J</span>
                            <span data-ng-switch-when="QUEEN">Q</span>
                            <span data-ng-switch-when="KING">K</span>
                            <span data-ng-switch-when="ACE">A</span>
                </div>

                    <div class="suit" ng-switch on="card.suit">
                        <span data-ng-switch-when="DIAMONDS">&diams;</span>
                        <span data-ng-switch-when="HEARTS">&hearts;</span>
                        <span data-ng-switch-when="CLUBS">&clubs;</span>
                        <span data-ng-switch-when="SPADES">&spades;</span>
                  </div>
</div>






